<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create New Post:</h3>

        <form class="new-blog-form">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-input form-control" type="text" id="title" name="title" />
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <textarea class="form-input form-control" type="text" id="content" name="content" rows="10"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-2">Create</button>
            </div>
        </form>
    </div>


    <div class="col-md-6 blog-list">
        <h3>Your Posts:</h3>
        {{#if blogs.length}}
        {{#each blogs as |blog|}}
        <hr class="my-4" />
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/blog/{{blog.id}}/edit">{{blog.title}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
        {{/if}}

        {{#else}}
        <h3>No post yet</h3>
        {{/else}}
    </div>



</div>

<script src="/js/dashboard.js"></script>