{{#each blogs as |blog|}}
<div class="col-md-10 col-lg-8 col-xl-7">
    <div class="post-preview">
        <a href="/blog/{{blog.id}}">
            <h2 class="post-title">{{title}}</h2>
        </a>
        <p class="post-meta">
            Posted by {{name}} on {{date}}
        </p>
    </div>
    <hr class="my-4" />
</div>
{{/each}}