:root {
    --darkColor: rgb(30, 35, 39);
    --lightColor: rgb(205, 222, 228);
    --primeColor: rgb(31, 110, 110);
    --secondColor:rgba(175, 59, 59, 0.945);
    --thirdColor: rgba(78, 78, 73, 0.87);
    --fourthColor: rgba(59, 76, 175, 0.945);
    --dashedBorder: dashed 2px var(--lightColor);
    --solidBorder: solid 1px var(--lightColor);
    --doubleBorder: double 3px var(--lightColor);
    --borderRadius: 1rem;
   }

   ::selection {
    background-color: var(--primeColor);
    color: var(--darkColor);
  }
  

  body {
    color: var(--darkColor);
    font-family: 'Nunito','Outfit', sans-serif;
    box-sizing: border-box;
    background-image: url(../assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }  
a {
    color: var(--darkColor);
    font-family: 'Nunito','Outfit', sans-serif;
    box-sizing: border-box;
}

.icon-dark {
  color: var(--darkColor);
}

.light-color, .navbar {
  color: var(--lightColor);
}

.blog-background {
    background-color: rgba(225, 225, 225, 0.70);
    border-radius: var(--borderRadius);
    padding-top: 3rem;
    padding-bottom: 3rem; 
  }
/* body {
    font-family: 'Nunito','Outfit', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
     text-align: center; 
     margin: 0; 
   }
/*  */
